<h1>Track#new</h1>

<%= form_for @track do |f| %>
  <%= f.label "Name" %>
  <%= f.text_field :name %><br>
  <%= f.label "Content" %>
  <%= f.text_area :content %><br>
  <%= f.collection_check_boxes :lesson_ids, Lesson.all, :id, :title %><br>
  <%= f.submit %>
<% end %>
